/*CSS Selectors*/
/* color===>property */
/* red====> value */
/* p{
    color:red;
}====>Defination */
/* p====> Selectors */


/* selectors:{
    property:value
}===>CSS Declaration or CSS rule or defination */

/* Universal Selectors */
*{
   color:red
}

/* Type Selectors or Element Selectors */

p{
    color:blue
}

/* Class Selectors */
/* .classname{property:value} */
.hello-world{
    color:green;
}

/* id selectors */
/* #idname{property:value} */

#heading{
    color:orange;
}

/* attribute selectors */
/* [attribute=value]{property:value} */

img[src^="http"]{
    border:2px solid purple;
}
/* its check your href value start with http or not */

a[href$=".pdf"]{
    color:black;
}
/* its check your href value ends with .pdf or not */

a[href="123sdfg.jpg"]{
    color:yellowgreen;
}

/* its check your href value equal or not */

a[href*="dfg"]{
    color:cyan;
}
/* its check your href value contains "dfg" or not */

/* a[xyz="123"]{
    color:black;
} */

p[class~="box"]{
    color:black;
}
/* its check space separated value contain box or not */

p[lang|="en"]{
    color:green;
}
/* its check your value start with box via hyphen separated- */